.container {
  position: relative;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.stickyFooter {
  position: fixed;
  background-color: red;
  height: 700px;
  padding-bottom: 4vh;
  width: 100%;
  bottom: 0;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 100%;
  font-family: "BoilerRoom";
  font-size: 3.2vh;
}

.smiley {
  font-family: monospace;
  font-size: 3.2vh;
  padding-left: 1vh;
  line-height: 0.1;
  margin-right: 2vh;
}

.mainText {
  width: 50%;
}

.description {
  height: 4vh;
  font-family: "AN";
  font-size: 1.9vh;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: red;
  color: black;
}

@media screen and (max-width: 600px) {
  .container {
    height: 500px;
    background-color: rgb(255, 30, 0);
  }

  .stickyFooter {
    height: 500px;
    background-color: red;
  }

  .contentContainer {
    height: 500px;
    background-color: red;
  }

  .mainText {
    width: 80%;
  }

  .contentContainer {
    font-size: 2.2vh;
  }

  .descriptionContainer {
    margin-right: 1vw;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .descriptionContainer {
    margin-right: 1vw;
  }

  .mainText {
    width: 80%;
  }
}
