.container {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "BoilerRoom";
  font-size: 6vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    font-size: 3vh;
    height: 100vh;
  }
}

@media (max-width: 1024px) {
  .container {
    font-size: 2vh;
    height: 100vh;
  }
}
