* {
  margin: 0;
}

@font-face {
  font-family: "BoilerRoom";
  src: url("/BoilerRoom.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AN";
  src: url("/ArchivoNarrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px; /* Makes the scrollbar thinner */
  height: 8px; /* For horizontal scrollbar (if applicable) */
}

/* Style the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: black;
}

/* Style the scrollbar thumb (the part you drag) */
::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 4px; /* Optional: for rounded edges */
}
